<header>
    <nav>
        <ul>
            <li><img src="/restaurants/?location={{location}}&term=pizza">Pizza</a></li>
            <li><img src="https://www.thespruceeats.com/thmb/X6mg_2VBCQQ2X8VrLcPTf8_4ce0=/2733x2050/smart/filters:no_upscale()/chinese-take-out-472927590-57d31fff3df78c5833464e7b.jpg">Chinese</a></li>
            <li><img src="/restaurants/?location={{location}}&term=thai">Thai</a></li>
            <li><img src="/restaurants/?location={{location}}&term=indian">Indian</a></li>
        </ul>
    </nav>
</header>